.btn,
.btnC,
.btnEquals {
	height: 2em;
	aspect-ratio: 1;
	font-size: 3rem;
	border: none;
	box-shadow: 0 0 3px rgb(226, 175, 255);
	border-radius: 5px;
	background-color: rgb(143, 143, 143);
	cursor: pointer;
	transition: background-color 0.3s;
    color: white;
}

.btn:hover {
	background-color: rgb(112, 112, 112);
}

.btnC {
	background-color: rgb(231, 71, 71);
}

.btnC:hover {
	background-color: rgb(199, 62, 62);
}

.btnEquals {
	background-color: rgb(241, 135, 35);
}

.btnEquals:hover {
	background-color: rgb(199, 108, 23);
}
